<h1>About us...</h1>

<p>
    <%= @about_me %>
</p>

<p>
    2 + 2 = <%= @answer %>
</p>

<p>
    2 + 4 = <%= wynik = 2 + 4 %>
</p>

<p>
    4 + 4 = <%= wynik = 4 + 4 %>
</p>

<p>
    2 + 2 = <%= @answer %>
</p>